/* ! DEFAULT STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! DEFAULT STYLE */
ul,
ol {
    list-style-type: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body {
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
    
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0;
    margin-bottom: 0;
}


img{
    display: block;
}

.container {
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
/* ! DEFAULT STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX DEFAULT STYLE */


/* ! HEADER STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! HEADER STYLE */

/* ! HEADER ITEMS POSITION +++ */

.header .container{
    display: flex;
    justify-content: space-between;
}

.header-navigation{
    display: flex;
    align-items: center;
}

.header-navigation-logo{
    margin-right: 76px;
}

.header-navigation-list{
    display: flex;
    gap: 40px;
}

.header-navigation-list-item{
    padding: 24px 0;
}

.header-address-list{
    display: flex;
    gap: 40px;
}

.header-address-list-item{
    padding: 24px 0;
}

/* ! HEADER ITEMS POSITION --- */

/* ! HEADER ITEMS VISUAL +++ */

.header{
    border-bottom: 1px solid #e7e9fc;
}

/* .header-navigation{} */

.header-navigation-logo{
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    /* HW3 */
    /* margin-right: 76px; */

}

.header-navigation-logo-span{
    color: #2e2f42;
}

/* .header-navigation-list{} */

/* .header-navigation-list-item{} */

.header-navigation-list-reference{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-navigation-list-reference:hover,
.header-navigation-list-reference:focus{
    color: #404bbf;
}

.header-address{
    font-style: normal;
}

/* .header-address-list{} */

/* .header-address-list-item{} */

.header-address-list-reference{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-address-list-reference:hover,
.header-address-list-reference:focus{
    color: #404bbf;
}

/* ! HEADER ITEMS VISUAL --- */

/* ! HEADER STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX HEADER STYLE */


/* ! HERO STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! HERO STYLE */

/* ! HERO ITEMS POSITION +++ */

.hero .container{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 189px 0;
    gap: 46px;
}

/* ! HERO ITEMS POSITION --- */

/* ! HERO ITEMS VISUAL +++ */
.hero{
    background-color: #2e2f42;
}

.hero-heading{
    font-size: 56px;
    line-height: 1.07;
    text-align:center;
    letter-spacing: 0.02em;
    color: #FFFFFF;
    /* HW3 */
    width: 496px;
    height: 120px;

}

.hero-button{
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor:pointer;
    /* HW3 */
    padding: 16px 32px;
    border-radius: 4px;
    border-width: 0px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);

}

.hero-button:hover,
.hero-button:focus{
    background-color: #404BBF;

}

/* ! HERO ITEMS VISUAL --- */

/* ! HERO STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX HERO STYLE */

/* ! BENEFITS STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! BENEFITS STYLE */

/* .benefits{} */

/* .benefits-heading{} */

/* .benefits-list{} */

/* .benefits-list-item{} */

.benefits-list-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

}

.benefits-list-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* ! BENEFITS STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX BENEFITS STYLE */

/* ! TEAM STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! TEAM STYLE */

.team{
    background-color: #F4F4FD;
}

.team-heading{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

/* .team-list{} */

.team-list-item{
    background-color: #FFFFFF;
}

/* .team-list-image{} */

.team-list-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.team-list-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* ! TEAM STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX TEAM STYLE */

/* ! PORTFOLIO STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! PORTFOLIO STYLE */
/* .portfolio{} */

.portfolio-heading{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

/* .portfolio-list{} */

/* .portfolio-list-item{} */

/* .portfolio-list-image{} */

.portfolio-list-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-list-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ! PORTFOLIO STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX PORTFOLIO STYLE */

/* ! FOOTER STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! FOOTER STYLE */

.footer{
    background-color: #2e2f42;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-logo-span{
    color: #f4f4fd;
}

.footer-description{
    line-height: 1.5;
    left: 0.02em;
    color: #F4F4FD;
}

/* ! FOOTER STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX FOOTER STYLE */
