/* ! DEFAULT STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! DEFAULT STYLE */
ul,
ol {
    list-style-type: none;
}

a {
    text-decoration: none;
}

button {
    cursor: pointer;
}

body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    background-color: #FFFFFF;
    
}
/* ! DEFAULT STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX DEFAULT STYLE */

/* ! HEADER STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! HEADER STYLE */
/* .header-section{} */

/* .header-section-navigation{} */

.header-section-navigation-logo{
    font-family: "Raleway" sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;

}

.header-section-navigation-logo-span{
    color: #2e2f42;
}

/* .header-section-navigation-list{} */

/* .header-section-navigation-list-item{} */

.header-section-navigation-list-reference{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.header-section-navigation-list-reference:hover,
.header-section-navigation-list-reference:focus{
    color: #404bbf;
}

.header-section-address{
    font-style: normal;
}

/* .header-section-address-list{} */

/* .header-section-address-list-item{} */

.header-section-address-list-reference{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.header-section-address-list-reference:hover,
.header-section-address-list-reference:focus{
    color: #404bbf;
}
/* ! HEADER STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX HEADER STYLE */

/* ! HERO STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! HERO STYLE */
.hero-section{
    background-color: #2e2f42;
}

.hero-section-heading{
    font-size: 56px;
    line-height: 1.07;
    text-align:center;
    letter-spacing: 0.02em;
    color: #FFFFFF;

}

.hero-section-button{
    font-family: "Roboto" sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    background-color: #4D5AE5;
    cursor:pointer;

}

.hero-section-button:hover,
.hero-section-button:focus{
    background-color: #404BBF;

}
/* ! HERO STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX HERO STYLE */

/* ! BENEFITS STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! BENEFITS STYLE */

/* .benefits-section{} */

/* .benefits-section-heading{} */

/* .benefits-section-list{} */

/* .benefits-section-list-item{} */

.benefits-section-list-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;

}

.benefits-section-list-description{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

}

/* ! BENEFITS STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX BENEFITS STYLE */

/* ! TEAM STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! TEAM STYLE */

.team-section{
    background-color: #F4F4FD;
}

.team-section-heading{
    font-size: 36px;
    line-height: 1.11;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

/* .team-section-list{} */

.team-section-list-item{
    background-color: #FFFFFF;
}

/* .team-section-list-image{} */

.team-section-list-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    text-align: center;
}

.team-section-list-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
}

/* ! TEAM STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX TEAM STYLE */

/* ! PORTFOLIO STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! PORTFOLIO STYLE */
/* .portfolio-section{} */

.portfolio-section-heading{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2e2f42;
}

/* .portfolio-section-list{} */

/* .portfolio-section-list-item{} */

/* .portfolio-section-list-image{} */

.portfolio-section-list-heading{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
}

.portfolio-section-list-description{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

/* ! PORTFOLIO STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX PORTFOLIO STYLE */

/* ! FOOTER STYLE !!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!!! FOOTER STYLE */

.footer-section{
    background-color: #2e2f42;
}

.footer-section-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
}

.footer-section-logo-span{
    color: #f4f4fd;
}

.footer-section-description{
    line-height: 1.5;
    left: 0.02em;
    color: #F4F4FD;
}

/* ! FOOTER STYLE XXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXXX FOOTER STYLE */
